.pokemon {
    height: 100%;
}

    .pokemon__info {
        height: 50%;
        padding: 1rem 0 0.25rem 0;
    }

    .pokemon__sprite {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
    }

        .pokemon__sprite img {
            margin: -30px; /* Image cropping */
            width: 150px;
            height: 150px;
        }

    .pokemon__stats {
        gap: 10px;
        flex: 1;
    }

    .pokemon__text {
        height: 50%;
        overflow: auto;
        border-top: 3px black solid;
        padding: 10px;
        line-height: 1.5em;
    }