:root {
    --font-size-medium: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body, #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

body {
    background-color: #d1e5d9;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex {
    display: flex;
}

.flex--column {
    flex-direction: column;
}

.header {
    display: flex;
    gap: 10px;
    padding: 15px 20px;
}

    .header__light {
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }

        .header__light--blue {
            width: 75px;
            height: 75px;
            background-color: #28aafd;
        }

        .header__light--red {
            background-color: #ff0029;
        }

        .header__light--yellow {
            background-color: #ffe624;
        }

        .header__light--green {
            background-color: #52b161;
        }

button {
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.button--flat {
    width: 40px;
    height: 7px;
    border-radius: 5px;
    border: 1px solid black;
}

.pokedex {
    margin: 0 auto;
    width: 400px;
    height: 600px;
    border-radius: 7px;
    background-color: #dc0a2d;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 7px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.screen {
    margin: 0 auto;
    width: 300px;
    height: 250px;
    margin-top: 40px;
    background-color: #f8e8f8;
}

.entries {
    height: 100%;
}

    .entries__list {
        overflow: auto;
        height: 100%;
        flex: 3;
    }

    .entries__side {
        justify-content: space-between;
        flex: 1;
    }

.entry {
    display: flex;
}

    .entry__button {
        padding-top: 1rem;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }

/* Themes */

.font-size--medium {
    font-size: var(--font-size-medium)
}

.bold {
    font-weight: bold;
}